{:theme
 {:name        "alabaster-dark"
  :languages   "Markdown, Clojure"
  :maintainer  "Thomas Mattacchione"
  :last-change "Dec 18, 2022"
  :type        "dark"}

 :colors
 {:white        "#CECECE"
  :blue         "#5dafec"
  :black        "#0c1415"
  :yellow       "#e3e392"
  :red          "#AA3731"
  :green        "#9ed187"
  :light-blue   "#204273"
  :purple       "#d787cd"
  :orange       "#FFBC5D"
  :gray         "#696969"
  ;; @note vertical column column, asteriks & #'s in markdown
  :light-gray   "#383838"
  :med-gray     "#c6cbd2"
  :green-gray   "#789395"
  :none         "NONE"}

 :highlights
 {"Normal"                    {:color :white :guibg :black}
  "Comment"                   :yellow
  "SpecialComment"            :white
  "Todo"                      :yellow

  "Number"                    :purple

  "Function"                  :white

  "String"                    :green

  "Boolean"                   :purple

  ;; NerdTree top level folder path
  "Statement"                 :green-gray

  "Macro"                     :white
  "PreCondit"                 :red

  "StorageClass"              :red
  "Structure"                 :white
  "Typedef"                   :red
  "Special"                   {:color :orange :gui "undercurl" :cterm "undercurl" :guisp :orange}
  "MoreMsg"                   :red
  "WarningMsg"                :red
  "WildMenu"                  :red
  "EndOfBuffer"               :red

  ;; when selecting, will have a different black color than when not
  ;; selected
  ;; Word not recognized
  "SpellBad"                   {:color :white :gui "underline"}
  "Cursor"                     {:color :white :gui "reverse"}

  "ColorColumn"                {:guibg :light-gray}
  "CursorLineNr"               {:color :white :gui "bold"}
  "SignColumn"                 {:color "NONE" :guibg :black}
  "Conceal"                    :white
  "CursorColumn"               {:color "NONE" :guibg :black}
  "Directory"                  :blue
  "DiffAdd"                    {:color :black :guibg :yellow}
  "DiffChange"                 {:color :yellow :gui "underline"}
  "DiffDelete"                 {:color :black :guibg :red}
  "DiffText"                   {:color :black :guibg :yellow}
  "ErrorMsg"                   :red
  "VertSplit"                  :white
  "Folded"                     :white
  "FoldColumn"                 :white
  "LineNr"                     :white
  "MatchParen"                 {:color :black :guibg :blue}
  "NonText"                    :white

  ;; tab autocomplete popover
  "Pmenu"                      {:color :white :guibg :black}
  "PmenuSel"                   {:guibg :light-blue}
  "PmenuSbar"                  {:guibg :white}
  "PmenuThumb"                 {:guibg :white}

  ;; test
  "Question"                   :purple
  "QuickFixLine"               {:color :black :guibg :yellow}

  "IncSearch"                  {:color :orange :gui "undercurl" :cterm "undercurl" :guisp :orange}
  "Search"                     {:color :orange :gui "undercurl" :cterm "undercurl" :guisp :orange}

  "SpecialKey"                 :white
  ;; word not capitalized
  "SpellCap"                   {:color :red  :gui "underline"}
  ;; word not spelled correctly for current region
  "SpellLocal"                 {:color :red  :gui "underline"}
  ;; rare word
  "SpellRare"                  {:color :red  :gui "underline"}

  ;; airline NORMAL > SPELL ---- - UTF-8 > - -
  "StatusLineNC"               {:color :white :guibg :white}
  ;; statusline - the inactive windows line
  "StatusLine"                 {:color :white :guibg :light-gray}
  ;; the middle bit
  "CursorLine"                 {:color :white :guibg :light-gray}

  ;; characters in the tabine
  "TabLine"                    :white
  ;; background color when selecting
  "TabLineSel"                 :light-gray
  "TabLineFill"                {:guibg :black}
  "Terminal"                   {:color :white :guibg :back}

  ;; selection
  "Visual"                     {:guibg :light-blue}
  "VisualNOS"                  {:guibg :black}

  "statusline"                 :none

  ;; TREESITTER - EXTMARKS
  ;; --------------------------------------------------------------------------
  "DiagnosticUnnecessary"      {:color "NONE"}

  ;; TREESITTER - NERDTREE
  ;; --------------------------------------------------------------------------
  "title"                      :green

  ;; TREESITTER - CLOJURE
  ;; --------------------------------------------------------------------------
  ;; not (defn symbol-name) - the symbol-name part
  "Identifier"                 :white
  "@function.call"             :white
  "@variable"                  :white
  "@punctuation.bracket"       :white
  "@punctuation.special"       :white
  "@function.builtin"          :white
  "@variable.builtin"          :white
  "@conditional"               :white
  "@method"                    :white
  "@repeat"                    :white
  ;; defn
  "@keyword.function"          :white
  ;; def
  "@keyword"                   :white
  ;; clj - require statement path
  "Type"                       :white
  "@include"                   :white
  "@namespace"                 :white
  "@lsp.type.namespace"        :white
  ;; clj - escaped char like `\u201C`
  "Character"                  :purple
  "@symbol"                    :purple
  "@string.escape"             :green-gray
  "@string.special.symbol"     :purple
  "@lsp.type.keyword"          :purple
  "@lsp.mod.definition"        :blue

  ;; TREESITTER - C
  ;; --------------------------------------------------------------------------
  "@operator"                  :green-gray
  "@punctuation.delimiter"     :green-gray
  "@constant.builtin"          :green-gray
  "@function"                  :blue

  ;; TREESITTER - MARKDOWN
  ;; --------------------------------------------------------------------------
  "@label"                     :purple
  "@markup.link.label"         :blue
  "@markup.literal"            :green-gray
  "@markup.uri"                :white
  "@markup.strong"             {:color :green-gray :gui "bold" :cterm "bold"}
  "@markup.raw.block"          :green-gray
  "@markup.raw.delimiter"      :green-gray
  "@markup.list"               :green-gray
  "@markup.list.checked"       :green-gray
  "@markup.list.unchecked"     :green-gray
  "@markup.heading.1"          :blue
  "@markup.heading.2"          :blue
  "@markup.heading.3"          :blue
  "@markup.heading.4"          :blue
  "@markup.heading.5"          :blue
  "@markup.heading.6"          :blue
  "@markup.heading.1.marker"   :green-gray
  "@markup.heading.2.marker"   :green-gray
  "@markup.heading.3.marker"   :green-gray
  "@markup.heading.4.marker"   :green-gray
  "@markup.heading.5.marker"   :green-gray
  "@markup.heading.6.marker"   :green-gray

  ;; TREESITTER - JavaScript
  ;; --------------------------------------------------------------------------
  "@type.javascript"             :blue
  "@constructor.javascript"      :white
  "@keyword.operator.javascript" :green-gray
  "@string.escape.javascript"    :purple}}
