{:theme
 {:name        "alabaster-dark"
  :languages   "Markdown, Clojure, JavaScript, CSS, Bash"
  :maintainer  "Thomas Mattacchione"
  :last-change "Nov 06, 2024"
  :type        "dark"}

 :colors
 {:white        "#CECECE"
  :blue         "#5dafec"
  :black        "#0c1415"
  :yellow       "#e3e392"
  :red          "#AA3731"
  :green        "#9ed187"
  :deep-blue    "#204273"
  :purple       "#d787cd"
  :orange       "#FFBC5D"
  ;; @note vertical column column, asteriks & #'s in markdown
  :gray         "#383838"
  :green-gray   "#789395"
  :none         "NONE"}

 :highlights
 {"Normal"                    {:color :white :guibg :black}
  "Comment"                   :yellow
  "Special"                   :white
  "SpecialComment"            :white
  "Structure"                 :blue
  "Todo"                      :yellow

  "Number"                    :purple

  "Function"                  :white

  "String"                    :green

  "Boolean"                   :purple
  ;; not (defn symbol-name) - the symbol-name part
  "Identifier"                 :white

  ;; NerdTree top level folder path
  "Statement"                 :green-gray

  "Macro"                     :white
  "PreCondit"                 :red

  "StorageClass"              :red
  "Typedef"                   :red
  "MoreMsg"                   :red
  "WarningMsg"                :red
  "WildMenu"                  :red
  "EndOfBuffer"               :red

  ;; when selecting, will have a different black color than when not
  ;; selected
  ;; Word not recognized
  "SpellBad"                   {:color :white :gui "underline"}
  "Cursor"                     {:color :white :gui "reverse"}

  "ColorColumn"                {:guibg :gray}
  "CursorLineNr"               {:color :white :gui "bold"}
  "SignColumn"                 {:color "NONE" :guibg :black}
  "Conceal"                    :white
  "CursorColumn"               {:color "NONE" :guibg :black}
  "Directory"                  :blue
  "DiffAdd"                    {:color :black :guibg :yellow}
  "DiffChange"                 {:color :yellow :gui "underline"}
  "DiffDelete"                 {:color :black :guibg :red}
  "DiffText"                   {:color :black :guibg :yellow}
  "ErrorMsg"                   :red
  "VertSplit"                  :white
  "Folded"                     :white
  "FoldColumn"                 :white
  "LineNr"                     :white
  "MatchParen"                 {:color :black :guibg :blue}
  "NonText"                    :white

  ;; tab autocomplete popover
  "Pmenu"                      {:color :white :guibg :black}
  "PmenuSel"                   {:guibg :deep-blue}
  "PmenuSbar"                  {:guibg :white}
  "PmenuThumb"                 {:guibg :white}

  ;; test
  "Question"                   :purple
  "QuickFixLine"               {:color :black :guibg :yellow}

  "IncSearch"                  {:color :orange :gui "undercurl" :cterm "undercurl" :guisp :orange}
  "Search"                     {:color :orange :gui "undercurl" :cterm "undercurl" :guisp :orange}

  "SpecialKey"                 :white
  ;; word not capitalized
  "SpellCap"                   {:color :red  :gui "underline"}
  ;; word not spelled correctly for current region
  "SpellLocal"                 {:color :red  :gui "underline"}
  ;; rare word
  "SpellRare"                  {:color :red  :gui "underline"}

  ;; airline NORMAL > SPELL ---- - UTF-8 > - -
  "StatusLineNC"               {:color :white :guibg :white}
  ;; statusline - the inactive windows line
  "StatusLine"                 {:color :white :guibg :gray}
  ;; the middle bit
  "CursorLine"                 {:color :white :guibg :gray}

  ;; characters in the tabine
  "TabLine"                    :white
  ;; background color when selecting
  "TabLineSel"                 :gray
  "TabLineFill"                {:guibg :black}
  "Terminal"                   {:color :white :guibg :back}

  ;; selection
  "Visual"                     {:guibg :deep-blue}
  "VisualNOS"                  {:guibg :black}

  "statusline"                 :none

  ;; TELESCOPE
  ;; --------------------------------------------------------------------------
  "TelescopeMatching"  :orange


  ;; TREESITTER
  ;; --------------------------------------------------------------------------
  "@comment"              :yellow
  "@constant"             :white
  "@string"               :green
  "@character"            :purple
  "@number"               :purple
  "@boolean"              :purple
  "@float"                :purple
  "@function"             :white
  "@method"               :white
  "@keyword"              :white
  "@operator"             :green-gray
  "@variable"             :white
  "@variable.parameter"   :white
  "@type"                 :white
  "@property"             :white
  "@conditional"          :white
  "@repeat"               :white
  "@label"                :white
  "@namespace"            :white
  "@include"              :white
  "@preproc"              :white
  "@exception"            :white
  "@special"              :purple
  "DiagnosticUnnecessary" {:color "NONE"} ;; TS Extmarks - highlight the token itself

  ;;; TREESITTER - CLOJURE
  ;;; --------------------------------------------------------------------------
  "@string.special.symbol.clojure" :purple
  "@punctuation.bracket.clojure"   :green-gray
  "@punctuation.special.clojure"   :green-gray


  ;;; TREESITTER - C
  ;;; --------------------------------------------------------------------------
  "@type.builtin.c"        :white
  "@function.c"            :blue
  "@punctuation.delimiter" :green-gray
  "@constant.builtin"      :green-gray


  ;;; LSP - CLOJURE
  ;;; --------------------------------------------------------------------------
  "@lsp.mod.definition.clojure" :blue
  "@lsp.type.keyword.clojure"   :purple


  ;; TREESITTER - MARKDOWN
  ;; --------------------------------------------------------------------------
  "@tag.delimiter.html"        :green-gray
  "@markup.raw.markdown_inline"           :green-gray
  "@markup.italic.markdown_inline"        :green-gray
  "@markup.strikethrough.markdown_inline" :green-gray
  "@punctuation.special.markdown"         :green-gray
  "@markup.quote.markdown"     :white
  "@markup.link.label"         :blue
  "@markup.literal"            :green-gray
  "@markup.uri"                :white
  "@markup.strong"             {:color :green-gray :gui "bold" :cterm "bold"}
  "@markup.raw.block"          :green-gray
  "@markup.raw.delimiter"      :green-gray
  "@markup.list"               :green-gray
  "@markup.list.checked"       :green-gray
  "@markup.list.unchecked"     :green-gray
  "@markup.heading.1"          :blue
  "@markup.heading.2"          :blue
  "@markup.heading.3"          :blue
  "@markup.heading.4"          :blue
  "@markup.heading.5"          :blue
  "@markup.heading.6"          :blue
  "@markup.heading.1.marker"   :green-gray
  "@markup.heading.2.marker"   :green-gray
  "@markup.heading.3.marker"   :green-gray
  "@markup.heading.4.marker"   :green-gray
  "@markup.heading.5.marker"   :green-gray
  "@markup.heading.6.marker"   :green-gray


  ;; TREESITTER - JavaScript
  ;; --------------------------------------------------------------------------
  "@type.javascript"             :blue
  "@function.javascript"         :blue
  "@constructor.javascript"      :white
  "@keyword.operator.javascript" :green-gray
  "@string.escape.javascript"    :purple
  "@variable.builtin.javascript" :white


  ;; TREESITTER - CSS
  ;; --------------------------------------------------------------------------
  "@tag.css"           :white
  "@tag.attribute.css" :white
  "@function.css"      :white
  "@constant.css"      :white


  ;; TREESITTER - BASH
  ;; --------------------------------------------------------------------------
  "@keyword.directive.bash"   :yellow
  "@punctuation.special.bash" :green-gray
  "@label.bash"               :white
  "@constant.bash"            :white


  ;; TREESITTER - HTML
  ;; --------------------------------------------------------------------------
  "@tag.html" :white}} ;; also used in markdown files
